@model LexusTech.Models.Medico

@{
    ViewData["Title"] = "Cadastro de médico";
}

<section class="d-flex p-3" style="height: 80vh">
    <!-- Container do Formulário ocupando 20% da largura e 100% da altura -->
    <div class="w-20 d-flex justify-content-center" style="height: 80vh; padding-right: 10px;">
        <div class="container-fluid border p-4" style="min-height: 80vh; width: 60vh;">
            <h2>cadastrar médico</h2>
            <form asp-action="Criar" method="post">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sobrenome" class="control-label">Sobrenome</label>
                    <input asp-for="Sobrenome" class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone</label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdClinica" class="control-label">IdClinica</label>
                    <input asp-for="IdClinica" class="form-control" />
                    <span asp-validation-for="IdClinica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdEspecialidade" class="control-label">IdEspecialidade</label>
                    <input asp-for="IdEspecialidade" class="form-control"/>
                    <span asp-validation-for="IdEspecialidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Avaliacao" class="control-label">Avaliação</label>
                    <input asp-for="Avaliacao" class="form-control" />
                    <span asp-validation-for="Avaliacao" class="text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <input type="submit" class="btn" style="background-color: #4CAF50; color: #ffff ;" />
                    <a asp-action="Consultar" class="btn btn-secondary">Consultar</a>
                    <a asp-action="BuscarMedico" class="btn btn-secondary">Pesquisar Id</a>
                    <a asp-action="Atualizar" class="btn btn-secondary">Atualizar</a>
                    <a asp-action="ExcluirView" class="btn btn-secondary">Excluir</a>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Voltar</a>
                </div>
            </form>

            <!-- Exibir alerta de sucesso, se houver -->
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-1 p-2 text-center">
                    @TempData["SuccessMessage"]
                </div>
            }

        </div>
    </div>

    <!-- Container da Imagem ocupando 80% da largura e 100% da altura -->
    <div class="w-100" style="height: 80vh">
        <img src="~/assets/Usuario/imagem5.png" alt="Imagem de fundo para área de cadastro cliente" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}