@{
    ViewBag.Title = "Cadastro de preferencia do dia - Sucesso";
}

<section class="energy-section-login">
        <h2>Cadastro realizado com sucesso!</h2>
        <p>O endereco foi cadastrado com sucesso. Você pode continuar cadastrando as preferencias e vamos te apresentar as melhores solucoes.</p>

        <div>
            <a asp-action="Criar" asp-controller="Dias" class="btn btn-primary">cadestre o dia de preferencia</a>
            <a asp-action="Consultar" asp-controller="Endereco" class="btn btn-warning" style="color: aliceblue;">Consultar</a>
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Home</a>
        </div>
 
</section>
